{% block modals %}
<div id="modalAboutUs" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>About Us</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <p>Welcome to Mzizi Afrika, your number one source for all things shopping bags. We're dedicated to
                    giving you the very best of shopping bags, with a focus on quality, convenience, price, community
                    service and environmental conservation.</p>

                <p>Founded in 2019 by Joan Muthoni, Mzizi Afrika has come a long way from its beginnings. When Joan
                    first started out, her passion for economically and environmentally viable bags drove them here so
                    that Mzizi Afrika can offer you the most environmentally friendly yet the cheapest alternative to
                    plastic bags. We now serve customers all over Kenya, and are thrilled that we're able to turn our
                    passion into our own website.</p>


                <p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or
                    comments, please don't hesitate to contact us.</p>


                <p>Sincerely,</p>

                <p>Joan Muthoni</p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="modalCustomerCare" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Customer Care</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>It is the Mzizi Afrika's policy and responsibility to provide excellent service to the
                    public.Customer feedback helps us measure whether our services are meeting public needs and
                    expectations.</p>
                <p>It also helps us identify problems that need to be solved. High quality customer
                    service depends on customer feedback. While praise is always welcome, constructive criticism is
                    truly helpful in the long run.</p>
                <p>The purpose of this policy is to establish uniform standards and procedures for responding to
                    customer feedback, thus making sure those responses are timely and that issues do not “fall
                    through the cracks.” The policy strives to treat every interaction with the public as an opportunity
                    to produce a satisfied customer, or at least one who feels that he or she was listened to and
                    taken seriously, even if it was not possible to meet his or her request.</p>
                <p>Customer feedback comes to the Mzizi Afrika in many ways. This policy outlines a
                    procedure for responding to complaints, requests for service and questions that come to the
                    Mzizi Afrika through a customer visit, call or email.</p>

                <p>When possible, complaints, questions and requests for service are resolved in “real time”
                    on the same day they arrive. However, in many instances, referral and follow-up are necessary
                    in order to fully understand and resolve the issue. In such instances, the following standards for
                    acknowledgement and resolution should be followed.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="modalOurServices" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="modalTermsAndConditions" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}